@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.section-title{
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 600;
}

a{
  text-decoration: none !important;
}

.container {
  max-width: 1200px !important;
}



/* navbar */
.navbar {
  font-weight: 700;
  height: 4rem;
  transition: 0.2s all ease-in;
  position: fixed;
}

.navbar-brand {
  font-weight: 900;
}

.nav-item {
  padding-right: 3rem;
}

.nav-scroll{
  font-size: 1rem;
  height: 3rem;
}



/* home */
#home {
  height: 100vh;
  width: 100%;
  background-color: coral;
  background-image: url(../images/herosvg.svg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position-x: 90%;
  background-position-y: 60%;
}

.home-title {
  font-weight: 900;
  font-size: 3rem;
}

#home h2 {
  font-weight: 900;
  font-size: 3rem;
}

#home h3 {
  font-size: 2rem;
}



/* about me */

.about-img{
  height: 500px;
  width: 400px;
}

#about .btn{
  color: #ECE9E6;
  background: rgb(253, 108, 55);
  border-radius: 25px;
}

#about .btn:hover{
  background: rgb(250, 67, 0);
}



/* portfolio */

#portfolio{
  background: rgb(241, 241, 241);
  /* background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
  background: linear-gradient(to left, #FFFFFF, #ECE9E6); */
  text-align: center;
}

.box {
  position: relative;
  overflow: hidden;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

#portfolio .image {
  display: block;
  height: 250px;
  width: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
  /* left: -10%; */
}

#portfolio .box:hover .image{
  transition: all 2s ease;
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(2, 2, 2, 0.5);
  opacity: 0;
}

.box:hover .overlay .text,.box:hover .overlay {
  opacity: 1; 
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}

.box button {
  background: rgb(253, 108, 55);
}

.box button:hover {
  background: rgb(201, 71, 24);
}

.box a, .box button:hover a {
  color: white;
}



/* contact */

#contact {
  /* background: #f46b45; */
  /* background: -webkit-linear-gradient(to right, #eea849, #f46b45);
  background: linear-gradient(to right, #eea849, #f46b45); */
}

.contact-body {
  color: white;
  font-size: 30px;
  font-weight: 600;
}

#contact .btn {
  padding: 1rem 3rem;
  font-size: 1rem;
  text-transform: uppercase;
}

#contact .btn a {
  color: black;
}

#contact .btn:hover a{
  color: white;
}



/* footer */

.footer{
  background: rgb(241, 241, 241);
  font-weight: 600;
  line-height: 2rem;
  padding: 4rem 1rem;
}

.footer h5{
  font-weight: 900;
}

.wrapper .button{
  height: 40px;
  width: 40px;
  background: white;
  border-radius: 50px;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}

.wrapper .button:hover{
  background: coral;
}

.icon i{
  font-size: 25px;
}

ul{
  list-style-type: none;
}

.row{ 
  display: flex;
  flex-direction: row;
}

.footer-col{
  width: 25%;
  padding: 20px;
}

.footer-col h4{
 text-transform: capitalize;
 color: coral;
 font-size: 1rem;
 font-weight: 600;
 position: relative;
 margin-bottom: 2rem;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  width: 50px;
  background-color: coral;
  left: 0;
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 0.6rem;
}

.footer-col a,.footer-col ul li{
  font-size: 15px;
  font-weight: 300;
  text-transform: capitalize;
  transition: all 0.4s ease;
  display: block;
  color: black;
  cursor: pointer;
}

.footer-col a:hover,.footer-col li:hover{
  color: chocolate;
  padding-left: 10px;
}


.footer-col .contact li{
  text-transform: none;
}
.footer-col .contact li:hover,.wrapper .button a:hover {
  color: black;
  padding-left: 0;
  cursor:default;
}

@media (max-width: 700px){

  .navbar{
    height: unset;
  }
  
  body div{
    overflow: hidden;
  }
  #home{
    text-align: center;
    overflow-x: hidden;
  }

  .home-title{
    padding-top: 1rem;
    font-size: 2rem;
  }

  #home h2, #heme h3{
    font-size: 1.8rem;
  }

  #home{
    background-size: 70%;
    background-position-x: 70%;
    background-position-y: 100%;
  }
  #about{
    padding: 1rem 2rem;
    text-align: center;
  }

  #about h4{
    padding-top: 1rem;
    font-size: 1.1rem;
  }

  #about .about-img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 400px;
    width: auto;
  }

  #contact .contact-body{
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #contact .btn{
    width: 50%;
    padding: 5px 5px;
    font-size: 0.9rem;
  }

  .footer-col{
      width: 50%;
  }

  .footer-main{
    margin-left: 1.2rem;
  }
}

@media (max-width: 400px){
  #home{
    background-size: 80%;
    background-position-x: 50%;
    background-position-y: 100%;
  }
  .footer-col{
      width: 100%;
  }
}